.cardContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    min-height: 250px;
    width: fit-content;
    min-width: 110px;
    padding: 1em;
    margin: 2em;
    background-color: rgba(31, 28, 28, 0.8);
    border-radius: 20%;
    box-shadow: 10px 11px 22px 2px rgba(0, 0, 0, 0.75);
}

/* .container:hover{
    box-shadow: 10px 11px 22px 2px hsla(52, 55%, 38%, 0.75), -16px -20px 50px 4px rgba(16,204,239,0.99);
    text-shadow: 4px 4px 4px rgba(255, 145, 0, 0.77); 
} */

/* .xButton{
    float: right;
    border: none;
    margin: 0 10px;
    width: fit-content;
    height: fit-content;
    background-color: #ff7700;
    border-radius: 15%;
    font-weight: bold;
    transition: 0.5s;
} */

/*.xButton:hover{
    cursor: pointer;
    background-color: rgb(255, 98, 66);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
} */

.dogName{
    font-size: 3vh;;
    display: inline-flexbox;
    color: white;
}

.cardText{
    font-size: 2vh;;
    display: inline-flexbox;
    color: white;
}

.cardDitail{
    text-decoration: none;
    font-size: 1em;;
    color: white;
    padding: 10px;
}

.cardDitail:hover{
    cursor: pointer;
    background-color: rgba(200, 61, 33, 0.6);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.5);
    border-radius: 20%;
}

.dogImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    /* box-shadow: 0px 0px 48px 23px rgba(255, 85, 0, 0.75); */
    box-sizing: content-box;
    width: 80%;
}

