.cardContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    min-height: 250px;
    width: fit-content;
    min-width: 110px;
    padding: 1em;
    margin: 1em;
    background-color: rgba(31, 28, 28, 0.8);
    border-radius: 20%;
    box-shadow: 10px 11px 22px 2px rgba(0, 0, 0, 0.75);
}

.dogName{
    font-size: 3vh;
    display: inline-flexbox;
    color: white;
}

.cardText{
    font-size: 2vh;;
    display: inline-flexbox;
    color: white;
}

.cardDitail{
    text-decoration: none;
    font-size: 3vh;
    color: #5100ff;
    padding: 0px;
    border-radius: 20%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;
}

.cardDitail:hover{
    margin: 0 10px;
    cursor: pointer;
    background-color: rgb(66, 246, 255);;
    color: black;
    border-radius: 20%;
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.5);
}

.dogImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    box-sizing: content-box;
    width: 80%;
}

